body {
    font-size: 10px;
    border: 1rem solid #bdc3c7;
    padding: 2rem;
    max-width: 70rem;
    width: 80%;
    margin: 2rem auto;
}

.date {
    font-size: 1.2rem;
    color:lightblue;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.quote {
    font-size: 1.2rem;
    border-left: 0.5rem solid grey;
    padding-left: 1rem;
}

p {
    font-size: 1.2rem;
}

p:last-child {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid grey;
}

h2 {
    font-size: 2rem;
}